@page "/"
@page "/login"

<div class="ingreso">
    <div class="formulario-ingreso">
        <h2 class="txt-bien">Bienvenido de nuevo !</h2>
        <h4 class="txt-bien2">Ingresa con tu usuario y contraseña a tu banca</h4>
        <h5 class="txt-usuario">USUARIO</h5>
        <div class="usuario"><span>EJ:JUN30ORT</span></div>
        <h5 class="txt-password">CONTRASEÑA</h5>
        <h4 class="password">********</h4>
        <h3 class="iniciar-sesion">Iniciar sesion</h3>
        <h5 class="txt-olvcontr">¿Olvidaste tu contraseña?</h5>
        <div class="txt-cunetaCrear"><span>¿No tienes cuenta?</span></div>
        <h5 class="crearCun">Solicitarla AQUI!</h5>
    </div>
</div>

<div class="Informacion-ingreso">jjjjjj</div>
