@page "/login"

<div class="ingreso">
    <div class="Bienbenida">
        <h2 class="txt-bien">Bienvenido de nuevo !</h2>
        <p class="txt-bien2">Ingresa con tu usuario y contraseña a tu banca</p>
    </div>
           
    <div class="btn-usuario">
        <label class="etiqueta">USUARIO</label>
        <div class="usuario">
            <input type="text" placeholder="EJ:JUN30ORT"/>
        </div>
    </div>
    
    <div class="btm-password">
        <div class="fila-etiqueta-password">
            <label class="etiqueta">CONTRASEÑA</label>
            <button class="btn-olvido">¿Olvidaste tu contraseña?</button>
        </div>
        <div class="password">
            <input type="password" placeholder="********"/>
        </div>
    </div>
    
    <button class="iniciar-sesion">Iniciar sesion</button>
        
    <p class="crearCun">¿No tienes cuenta? <button class="btn-solicitar">
        <strong>¡Solicítala AQUÍ!</strong>
    </button></p>
</div>

<div class="Informacion-ingreso">
    <div class="logo-banco">
        <img src="imagenes.pluto/Diseños%20plutobank%20LOGO.svg" alt="logo-plutobank" class="logo-app">
        <img src="imagenes.pluto/Diseños%20plutobank%20TITULO.svg" alt="titulo plutobank" class="titulo-app">
    </div>
    
    <div class="txts-inicio">
        <h1 class="txt-inicio-1">Un banco pensado para el futuro.</h1>
        <p class="txt-inicio-2">Tu dinero, a tu manera. Toma el control total de tus finanzas  desde una sola aplicación,  sin filas ni complicaciones.</p>
    </div>
    
    <div class="img-tarjeta">
        <img src="imagenes.pluto/Diseños%20plutobank%20tarjetas%20inicio.svg" alt="tarjeta plutobank" class="tarjeta-app">
    </div>
</div>