@page "/"
@page "/login"

<div class="ingreso">
    <div class="Bienbenida">
        <h2 class="txt-bien">Bienvenido de nuevo !</h2>
        <p class="txt-bien2">Ingresa con tu usuario y contraseña a tu banca</p>
    </div>
           
    <div class="btn-usuario">
        <label class="etiqueta">USUARIO</label>
        <div class="usuario">
            <input type="text" placeholder="EJ:JUN30ORT"/>
        </div>
    </div>
    
    <div class="btm-password">
        <div class="fila-etiqueta-password">
            <label class="etiqueta">CONTRASEÑA</label>
            <button class="btn-olvido">¿Olvidaste tu contraseña?</button>
        </div>
        <div class="password">
            <input type="password" placeholder="********"/>
        </div>
    </div>
    
    <button class="iniciar-sesion">Iniciar sesion</button>
        
    <p class="crearCun">¿No tienes cuenta? <button class="btn-solicitar">
        <strong>¡Solicítala AQUÍ!</strong>
    </button></p>
</div>

<div class="Informacion-ingreso">
    <div class="Titulo-app"><span>Aura</span></div>
    <div class="Tipo-banco"><span>BANCO PRIVADO</span></div>
</div>