@page "/"
@page "/Solicitar"
<link rel="stylesheet" href="css/Solicitar.css" />

<div class="Fondo-solicitar">
    <div class="barra-superior">
        <button class="btn-volver">Volver al inicio</button>
        <img src="imagenes.pluto/Diseños%20plutobank%20TITULO.svg" alt="titulo-plutobank" class="ing-titulo">
        <p class="numero-pagina"> <span>1</span>  de 5</p>
    </div>
    
    <div class="stepper">
        <div class="paso-activo">
            <div class="circulo"><span>1</span></div>
            <span class="etiqueta">Tipo de cuenta</span>
        </div>
        <div class="linea"></div>
        <div class="paso">
            <div class="circulo"><span>2</span></div>
        </div>
        <div class="linea"></div>
        <div class="paso">
            <div class="circulo"><span>3</span></div>
        </div>
        <div class="linea"></div>
        <div class="paso">
            <div class="circulo"><span>4</span></div>
        </div>
        <div class="linea"></div>
        <div class="paso">
            <div class="circulo"><span>5</span></div>
        </div>
    </div>
</div>

