@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 { font-weight: 400; }
h4 { font-weight: 400 !important; }

.ingreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 50%;
    background: midnightblue;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 0 40px;
}

.Bienbenida {
    text-align: center;
    color: white;
    width: 400px;
    margin-bottom: 70px;
    
}

.txt-bien {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}

.txt-bien2 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.btn-usuario, .btm-password {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
}

.fila-etiqueta-password {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.etiqueta {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.txt-olvido {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    cursor: pointer;
}

.usuario, .password {
    width: 400px;
    height: 50px;
    background: steelblue;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.btn-olvido {
    color: white;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
}

.btn-olvido:hover {
    color: white;
}

.usuario input, .password input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 0 20px;
}

.usuario input::placeholder, .password input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.iniciar-sesion {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    
    color: midnightblue;
    background : white;
    box-shadow: 0 0 0px rgba(0,0,0,0);
    transition: transform 0.2s ease, box-shadow 0.4s ease;
}
    @keyframes cambioColor {
        0% {
            box-shadow: 0 0 15px rgba(75, 235, 150, 0.6),
            0 0 30px rgba(85, 198, 242, 0.4);
        }
        
        50% {
            box-shadow: 0 0 25px rgba(75, 235, 150, 0.5),
            0 0 45px rgba(85, 198, 242, 0.8);
        }
        
        100% {
            box-shadow: 0 0 15px rgba(75, 235, 150, 0.6),
            0 0 30px rgba(85, 198, 242, 0.4);
        }
    }
    
    .iniciar-sesion:hover {
        transform: scale(1.01);
        animation: cambioColor 2s ease-in-out infinite;
    }


.crearCun {
    width: 400px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 35px !important;
}

.btn-solicitar{
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.Informacion-ingreso {
    display: flex;
    height: 100%;
    width: 50%;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.Titulo-app {
    color: steelblue;
    position: absolute;
    top: 3vh;
    left: 5vh;
    font-size: 50px;
    font-weight: 300;
}

.Tipo-banco {
    color: steelblue;
    position: absolute;
    top: 11vh;
    left: 5vh;
    font-size: 15px;
    font-weight: 600;
}